.lista-suspensa label {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.lista-suspensa select {
  border: none;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  color: #afafaf;
  font-size: 18px;
  padding: 24px;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .lista-suspensa label {
    font-size: 14px;
  }

  .lista-suspensa select {
    height: 60px;
  }
}
