.button {
  background-color: #6662D5;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin: 32px 0;
  padding: 28px;
}

.button:hover {
  background-color: #0B0B0C;
}
