@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.form {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.form h2 {
  font-family: "Prata", serif;
  font-size: 32px;
  font-weight: 400;
}

.form form {
  background-color: #f6f6f6;
  border-radius: 15px;
  box-shadow: 7px 7px 15px 0px #00000014;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  max-width: 80%;
  padding: 36px 64px;
}